
    <!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >

				<!-- The Inner links -->
				{% include 'includes/component-navbar-inner.html' %}
				
				<div class="card text-center">
					<div class="card-block">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<i class="feather icon-sunset f-40"></i>
						<h6 class="mt-3">
							Django Version
						</h6>
						<p>
							Read more about this PREMIUM starter.
						</p>
						<a href="https://appseed.us/admin-dashboards/django-dashboard-gradient-pro" 
						   target="_blank" 
						   class="btn btn-primary btn-sm text-white m-0">See Product</a>
					</div>
				</div>
				
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
