{% extends "layouts/base.html" %}
{% block title %} Lista de Productos {% endblock %}
{% include 'includes/scripts.html' %}
{% load crispy_forms_tags %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="/static/assets/css/plugins/dataTables.bootstrap4.min.css">
{% endblock stylesheets %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% block content %}

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Categoria</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="feather icon-home"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!">Categoria</a></li>
                            <li class="breadcrumb-item"><a href="#!">Listar Categorias</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--LISTA DE PRODUCTOS ECOMERCE-->
        <div class="row">
            {% for objeto in object_list %}
                {% if objeto.CP_NHABILITADO %}
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            {% comment %} {% if objeto.PC_FOTO %}
                            <img src="{{ objeto.PC_FOTO.url }}">
                            {% endif %} {% endcomment %}

                            <p class="card-text"> DESCRIPCION: {{ objeto.CP_CDESCRIPCION }}</p>
                            <td>
                                {% if user.is_authenticated %}
                                <a class="btn btn-success" data-toggle="modal" data-target="#modal-shopping-cart{{ objeto.CP_NID|unlocalize }}"><i class="feather icon-shopping-cart"></i></a>
                                {% endif %}
                            </td>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modal-shopping-cart{{ objeto.CP_NID|unlocalize }}" tabindex="-1" role="dialog"
                aria-labelledby="modal-shopping-cart{{ objeto.CP_NID|unlocalize }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Agregar Tipo de producto al Carro</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>

                        </div>
                        <div class="modal-body">
                            <p>
                                Ingresar cantidad del producto: {{ objeto.CP_CDESCRIPCION|unlocalize }}?
                            </p>
                            <input id="cantidad_ingresada-'{{ objeto.CP_NID|unlocalize }}'" type="number" class="form-control" step="1">
                        </div>
                        <div class="modal-footer">
                            <a onclick="envio_datos('{{ objeto.CP_NID|unlocalize }}')"  class="btn btn-success"
                                type="button">Confirmar</a>
                            <button type="button" class="btn  btn-secondary" data-dismiss="modal">Cerrar</button>

                        </div>
                    </div>
                </div>
                {% endif %}
               
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
function envio_datos(cp_nid) {
    var str  = "cantidad_ingresada-'" + cp_nid +"'"
    var cantidad = document.getElementById(str).value;
    var cantidad2 = $('#cantidad_ingresada').val();

    $.ajax({
        url: "sy-envio_datos",
        method: "POST",
        data: {
            cantidad : cantidad,
            id:cp_nid,
            csrfmiddlewaretoken: '{{ csrf_token }}' 
        },
        success: function (response) {
            if (response.estado == true){
                str_id = '#modal-shopping-cart'+cp_nid
                $(str_id).modal('hide')
                Swal.fire({
                    icon: 'success',
                    title: 'Éxito!',
                    text: 'Producto agregado correctamente',
                    footer: '<a href="/tr-carro_detalle">Ver carro de compra</a>'
                  }).then((result) => {
                    if (result.isConfirmed) {
                        location.reload();
                    } 
                  })
            }else{
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ocurrio un error, contactese con soporte!',
                    
                  })
            }
            
        }

    })


}


</script>
<!-- datatable Js -->
<script src="/static/assets/js/plugins/jquery.dataTables.min.js"></script>
<script src="/static/assets/js/plugins/dataTables.bootstrap4.min.js"></script>
<script src="/static/assets/js/plugins/buttons.colVis.min.js"></script>
<script src="/static/assets/js/plugins/buttons.print.min.js"></script>
<script src="/static/assets/js/plugins/pdfmake.min.js"></script>
<script src="/static/assets/js/plugins/jszip.min.js"></script>
<script src="/static/assets/js/plugins/dataTables.buttons.min.js"></script>
<script src="/static/assets/js/plugins/buttons.html5.min.js"></script>
<script src="/static/assets/js/plugins/buttons.bootstrap4.min.js"></script>
<script src="/static/assets/js/pages/data-export-custom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

{% endblock javascripts %}