{% extends "layouts/base.html" %}
{% block title %} Visualizar Producto{% endblock %}
{% include 'includes/scripts.html' %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
	<div class="pcoded-content">
		<!-- profile header start -->
		<div class="user-profile user-card mb-4">
			<div class="card-body py-0">
				<div class="user-about-block m-0">
					<div class="row"></div>
				</div>
			</div>
		</div>
		<!-- profile header end -->

		<!-- profile body start -->
			<div class="card">
				<div class="card-body d-flex align-items-center justify-content-between">
					<h5 class="mb-0">Información de Perfil</h5>
				</div>
				{% for objeto in object_list %}
				<div class="card-body border-top pro-det-edit collapse show" id="pro-det-edit-1">
					<form>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label font-weight-bolder">Usuario :</label>
							<div class="col-sm-9">{{ objeto.US_NID }}</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label font-weight-bolder">Rut :</label>
							<div class="col-sm-9">{{ objeto.UX_CRUT }}</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label font-weight-bolder">Correo :</label>
							<div class="col-sm-9">{{ objeto.UX_CCORREO }}</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label font-weight-bolder">Telefono :</label>
							<div class="col-sm-9">{{ objeto.UX_CTELEFONO }}</div>
						</div>
					</form>
				</div>
				{% endfor %}
			</div>
		<!-- profile body end -->
	</div>
</div>


{% endblock content %}


<!-- Specific Page JS goes HERE  -->

{% block javascripts %}{% endblock javascripts %}